h1 {
    color: blue;
}

.special:hover{
    color:purple;
    font-size: 4em;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.special {
    color: pink;
}

.boxbox {
    height: 10em;
    display: flex;
	justify-content: center;
}

.box {
    display: flex;
    border: 1px black solid;
    width: 33%;
    margin: 1em;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-content: center;
}